@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

/* ======================Default========================= */
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Comfortaa", cursive;
  /* ======================Text select disable====================== */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ==============Scroolbar Customize=============== */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}
::-webkit-scrollbar-button {
  width: 5px;
  border-radius: 10px;
}
::-webkit-scrollbar-corner {
  width: 5px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(rgb(255, 0, 0), rgb(0, 0, 0));
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgb(255, 0, 0);
  border-radius: 10px;
}
::-webkit-scrollbar-button {
  width: 5px;
  border-radius: 10px;
}
::-webkit-scrollbar-corner {
  width: 5px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(rgb(255, 0, 0), rgb(0, 0, 0));
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgb(255, 0, 0);
  border-radius: 10px;
}
/* ============.scrollbar-none =========== */
.scrollbar-none::-webkit-scrollbar {
  width: 0;
  border-radius: 0;
}
.scrollbar-none::-webkit-scrollbar-button {
  width: 0;
  border-radius: 0;
}
.scrollbar-none::-webkit-scrollbar-corner {
  width: 0;
  border-radius: 0;
}
.scrollbar-none::-webkit-scrollbar-track {
  background: linear-gradient(rgb(255, 0, 0), rgb(0, 0, 0));
  border-radius: 0;
}
.scrollbar-none::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgb(255, 0, 0);
  border-radius: 0;
}
.scrollbar-none::-webkit-scrollbar-button {
  width: 0;
  border-radius: 0;
}
.scrollbar-none::-webkit-scrollbar-corner {
  width: 0;
  border-radius: 0;
}
.scrollbar-none::-webkit-scrollbar-track {
  background: linear-gradient(rgb(255, 0, 0), rgb(0, 0, 0));
  border-radius: 0;
}
.scrollbar-none::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgb(255, 0, 0);
  border-radius: 0;
}
.smooth {
  @apply transition-all duration-500 ease-linear;
}
.scale-base {
  @apply transform scale-100 hover:scale-105 hover:text-red-400 transition-all duration-500 ease-linear;
}

.text-border {
  -webkit-text-stroke: 2px #e83a3b;
  /* filter: grayscale(100); */
}
.cusrom-drop-shadow {
  filter: drop-shadow(8px 8px 0px #e83a3b);
}
.certificate-card .certificate-card-body {
  opacity: 0;
  scale: 0.5;
  visibility: hidden;
  transition: all 0.3s linear;
  border-radius: 30px;
}
.certificate-card:hover .certificate-card-body {
  opacity: 1;
  scale: 1;
  visibility: visible;
  border-radius: 0px;
}

.glass-color {
  /* From https://css.glass */
  background: rgba(253, 93, 93, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid rgba(252, 101, 101, 0.3);
}
